<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<appSettings>
		<!-- proxy-url: base url of proxy source -->
		<add key="proxy-url" value="http://localhost:9000" />
		<!-- proxy-patterns: semi-colon separated list of regex patterns that should be proxied -->
		<add key="proxy-patterns" value="^js/.*\.js"/>
	</appSettings>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>